body {
  font-family: "Roboto", sans-serif; /* меняем шрифт на Roboto */
  font-size: 14px; /* размер шрифта */
  color: #0a143a; /* цвет текста #0A143A */
}

.container {
  max-width: 1146px; /* максимальная ширина этого элемента */
  margin: auto; /* автоматическое выравнивание по середине */
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex; /* делаем гибкий блок */
  align-items: center; /* выравниваем по вертикали по центру */
  justify-content: space-between; /* разбросать элементы по краям */
  margin-bottom: 24px;
}

.navbar-panel {
  flex-grow: 1; /* расстянуть по ширине */
  display: flex; /* сделать гибким */
  align-items: center; /* выровнять по середине */
}
/* меню в шапке */
.navbar-menu {
  margin-right: auto; /* автоматический отступ справа */
}
.menu {
  list-style: none; /* убираем точки в списке */
  margin: 0; /* обнуляем отступы */
  padding-left: 22px; /* внутренний отступ влево */
  padding-right: 22px; /* внутренний отступ справа */
  display: flex;
}
/* для всех пунков меню кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px; /* отступ справа */
}
.menu-link {
  text-decoration: none; /* отключаем подчеркивание ссылок */
  color: inherit; /* возьми цвет как у родителя (body) */
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px; /* сверху-снизу 10px, по краям 15px */
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb; /* фон */
  border-radius: 5px; /* скругление углов */
  color: white;
}
.search-panel {
  height: 50px; /* высота */
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /* расстягивается на все свободное место */
  background: #ffffff;
  border-radius: 5px;
  border: none; /* отключаем обводку(рамку) */
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
}

.page-content-single {
  display: flex;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
}

.card-image1 {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0px;
}

.card-link {
  text-decoration: none;
}

.service {
  margin-bottom: 25px;
}

.service-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.main-single {
  margin-right: 30px;
  max-width: 460px;
  display: flex;
  align-items: flex-start;
}

.content {
  max-width: 460px;
  margin-right: 30px;
}

.swiper-container {
  width: 100%;
  height: 357px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  border-radius: 10px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
}

.single-price {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 25px;
}

.author {
  min-width: 265px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}

.rating {
  margin-bottom: 5px;
}

.rating-couter {
  margin-left: 10px;
  opacity: 0.5;
}

.author-status {
  font-size: 12px;
  line-height: 14px;
}

.button-block {
  width: 100%;
  height: 54px;
  display: block;
  margin-bottom: 14px;
  border: none;
}

.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: #ffffff;
}

.menu-button {
  background-color: white;
  border: none;
  cursor: pointer;
  display: none; /* отключаем кнопку везде, кроме мобильной версии */
}

.close-menu {
  display: none;
}
.banner-block {
  max-width: 260px;
}
.sidebar2 {
  margin-left: 105px;
  max-width: 264px;
}
.banner {
  max-width: 264px;
  max-height: 185px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 45%;
  }
  .card-image1 {
    width: 100%;
    height: 200px;
  }
  .content {
    margin-right: 10px;
  }
  .main-single {
    margin-right: 10px;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .content {
    max-width: 400px;
  }
  .sidebar2 {
    margin-left: 35px;
    max-width: 250px;
  }
  .author {
    min-width: 200px;
    margin-left: 30px;
    margin-right: 1px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-image1 {
    height: 150px;
  }
  .main-single {
    margin: auto;
    margin-bottom: 20px;
  }
  .page-content-single {
    flex-wrap: wrap;
  }
  .sidebar2 {
    display: flex;
    max-width: 740px;
    margin: auto;
  }
  .author {
    max-height: 350px;
    margin-right: 30px;
  }
  .banner-block {
    width: 220px;
    height: 154px;
    margin-right: 6px;
  }
  .banner {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .card {
    width: 100%;
  }
  .page-content {
    grid-template-columns: 8fr 4fr;
  }
  .main-single {
    width: 300px;
  }
  .content {
    width: inherit;
    margin-right: 0;
  }
  .author {
    margin-right: 0;
  }
  .swiper-container {
    height: 250px;
  }
  .mySwiper {
    height: 60px;
  }
  .single-price {
    max-height: 40px;
    margin-bottom: 0px;
  }

  .menu-button {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background-color: white;
    border: none;
  }

  .navbar-panel {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9;
    flex-direction: column; /* выстроить дочерние елементы в столбец */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0, 2s;
    transform: translateX(100%); /* уберем меню в сторону его не будет видно */
    opacity: 0;
  }
  .is-open {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .button-group {
    display: flex;
    flex-direction: column;
  }
  .sidebar2 {
    flex-wrap: wrap;
  }
  .banner-block {
    width: 260px;
    height: 180px;
  }
  .band {
    display: none;
  }
  .footer2 {
    margin-bottom: 1opx;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .page-content {
    grid-template-columns: none;
  }
  .page-content-single {
    flex-direction: column;
    grid-column-gap: 0px;
  }
  .main-single {
    width: 100%;
  }
  .card {
    margin-right: 0px;
  }
  .search-button-text {
    display: none;
  }
  .mySwiper {
    height: 60px;
  }
  .author {
    width: 90%;
    margin: auto;
  }
  .single-price {
    max-height: 40px;
    margin-bottom: 0px;
  }
  .sidebar2 {
    width: 90%;
  }
  .banner-block {
    width: 100%;
    margin-right: 0;
    margin: auto;
  }
  .footer2 {
    width: 260px;
    margin: auto;
  }
}
